.users {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin: 20px 20px 20px 20px;
}

.eachUser{
	position : relative;
  width : 300px;
  height : 80px;
  background-color: lightgreen;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: -1;

}
 .eachUser img{
 	width : 70px;
 	height : 80%;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	border-radius:50%;
    overflow:hidden;
    z-index: +3;
 }
 .eachUser .badgeusertype{
 	position : absolute;
 	right : 40%;
 	top : 60%;
 }
 .eachUser .badgeemail{
 	position: absolute;
 	left : 140px;
 	top : 30px;
 }
 .eachUser .badge{
 	position: absolute;
 	left : 140px;
 	top : 20% ;	
 }